.homebg {
    background-image: url('../images/background1.jpg');
    background-position: center;
    background-repeat: repeat;
}

#mynavbar {
        background-color: rgba(47, 23, 15, 0.623);
        font-family: 'Raleway';
      }
      
      #mynavbar .navbar-brand {
        color: #e6a756;
      }
      
      #mynavbar .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 800;
      }
      
      #mynavbar .navbar-nav .nav-item.active .nav-link {
        color: #e6a756;
      }
    @media (min-width: 992px) {
        #mynavbar .navbar-nav .nav-item .nav-link {
          font-size: 0.9rem;
        }
        #mynavebar .navbar-nav .nav-item .nav-link:hover {
          color: rgba(255, 255, 255, 0.4);
        }
        #mynavbar .navbar-nav .nav-item.active .nav-link:hover {
          color: #e6a756;
        }
    }
    
h2 {
    font-family: 'Raleway'; font-variant: small-caps;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px;
}

.bold {
    font-weight: bold; font-size: 17px;
}

.headers {
    color: rgb(14, 14, 80);
}

.fter {
    color: rgba(255, 255, 255, 0.479);
}

.center {
   text-align: center;
}

.justify {
    text-align: justify;
}

.rightalign {
    text-align: right;
}

.onpage {
    font-size: 20px;
    color: #e6a756;
}

a:hover {
    color: #e6a756;
}